<strong><font size="6" color="#68154D" face="Arial, Helvetica, sans-serif">
Help for Calendar Patterns Tool
</font></strong>
<br><br>


<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
User-friendly shiny application to Interactively Explore Calendar Patterns:
<ul>
	<li>Identify the historically most profitable periods</li>
	<li>Study the historical performance and volatility</li>
	<li>Test statistical significance of calendar patterns</li>
</ul>
Calendar Patterns are predetermined events known upfront. For example:
<ul>
	<li>Day of the week</li>
	<li>End of the month</li>
	<li>Holiday: Halloween effect</li>
	<li>News release date: Nonfarm payroll employment</li>
	<li>Option expiry</li>
	<li>Earnings / Ex-Dividend dates</li>
</ul>
</font></strong>
<br><br>


<!-- Summary Tab -->


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Performance Summary
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
To get started:
<ol>
	<li>Select Ticker</li>
	<li>Specify Calendar Pattern</li>
	<li>Click "Run" button</li>
	<li>Navigation Tabs</li>	
</ol>
</font></strong>
<img src="www.calpat/img/calpat_summary.png" border="0"/>
<!-- PicPick, Font: Bold, 20 / draw arrows 8 width, F12 save as-->
<br><br>


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Performance Summary - Details
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Configure following options:
<ol>
	<li>Specify data's date range</li>
	<li>Specify data's Source: Yahoo, FRED</li>
	<li>Specify Date Source: custom, FOMC, FRED, user dates, earnings, dividends</li>
	<li>Set date's custom expression, see below for more details*</li>
	<li>Set look-back period</li>
	<li>Set look-ahead period</li>
	<li>Set frequency, the error is raised if look-back/ahead period overlap. 
	For example, for monthly frequency, the pattern period should not exceed 12 months.
	<br>
	To allow overlap, check Allow Overlap box.
	</li>
	<li>Optionally set market filter. If empty, all calendar patterns are evaluated. 
	If set, only calendar patterns that pass the market filter at look-back period are evaluated.
	For example, to only consider patterns during uptrend, set x > sma(x,100).
	</li>
	<li>Click on the link to scroll to selected section</li>
	<li>Click on the up arrow to scroll to top</li>
</ol>
</font></strong>
<img src="www.calpat/img/calpat_summaryA.png" border="0"/>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif"><pre>
* Custom syntax to specify dates. The expression must be in the following format:
    ([identifier] [periodicity]) [in/every/of] ([identifier] [periodicity]) ... [in/every/of] ([identifier] [periodicity])

Identifier can be:
* last
* first
* 1st, 2nd, 3rd, and etc
* 1st to last, 2nd to last, 3rd to last, and etc

Periodicity can be:
* day or Mon, Tue, Wed, and etc
* week
* month or M (all months) or Jan, Feb, Mar and etc, or M1 (same as Jan), M2 (same as Feb)
* quarter or Q (all quarters) or Q1, Q2, Q3, Q4

For example:
* last day in Apr
* last day in first week in Apr
* 3rd Mon in last M in Q1
* 10th to last day in Apr

Calendar Patterns Examples:
* Day of Week: First Day of Week
* End of Month: Last Day of Month
* Option Expiry: Last Day in 3rd Week of Month
* Triple Witching: Last Day in 3rd Week in Last Month in Quarter
* Halloween effect: Last Day in October
</pre>
</font></strong>
<br><br>


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Performance Summary - Report
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
<ol>
	<li>Average Performance chart shows average and median trajectory for calendar pattern</li>
	<li>Performance table shows the calendar pattern performance for expanding period</li>
	<li>Click "Copy" button to copy table to clipboard</li>
</ol>
</font></strong>
<img src="www.calpat/img/calpat_summaryB.png" border="0"/>
<br><br>


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Performance Summary - Downloads
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
<ol>
	<li>Equity Curve chart shows all trades for calendar pattern</li>
	<li>The reports can be downloaded in the following formats:</li>
	<ul>
		<li>RMarkdown - code to reproduce charts/tables in this report</li>
		<li>PDF - PDF version of report</li>
		<li>CSV - underlying data in CSV format</li>
		<li>Equity - equity line for calendar pattern</li>
	</ul>	
</ol>
</font></strong>
<img src="www.calpat/img/calpat_summaryC.png" border="0"/>
<br><br>


<!-- Detail Tab -->


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Detail Summary
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
<ol>
	<li>Performance Summary chart shows detail performance for each period in calendar pattern and average period(All):</li>
	<ul>
		<li>Sharpe Ratio, assuming 0% risk free rate</li>
		<li>Risk - standard deviation</li>
		<li>Percent of positive observations</li>
		<li>Average performance</li>
	</ul>
</ol>
</font></strong>
<img src="www.calpat/img/calpat_detailA.png" border="0"/>
<br><br>


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Detail Summary - Tables
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
<ol>
	<li>Table with detail performance</li>
	<li>List of all found calendar patterns</li>
</ol>
</font></strong>
<img src="www.calpat/img/calpat_detailB.png" border="0"/>
<br><br>


<!-- Stat Tab -->


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Regression Summary
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
<ol>
	<li>Regression of returns on the period in calendar pattern:</li>
	<ul>
		<li>R2 / P-value indicate the effect size</li>
		<li>Lines with Top/Bottom 95% confidence limits</li>
	</ul>
</ol>
</font></strong>
<img src="www.calpat/img/calpat_statA.png" border="0"/>
<br><br>


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Regression Summary - Table
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
<ol>
	<li>Summary of Regression:</li>
	<ul>
		<li>periods with statistically significant P-value, above 5%, are highlighted</li>
	</ul>
</ol>
</font></strong>
<img src="www.calpat/img/calpat_statB.png" border="0"/>
<br><br>


<!-- Hist Tab -->


<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Historical Charts
</font></strong>
<br><br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Historical Charts for found calendar pattern. Limited to most recent 20 found patterns.
<ol>
	<li>Click on the link to scroll to the selected period.</li>
	<li>Candle chart for calendar pattern</li>
</ol>
</font></strong>
<img src="www.calpat/img/calpat_histA.png" border="0"/>
<br><br>

